<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">logo</div>
        <div class="nav_elements">
          <li><a href="Home">Home</a></li>
          <li><a href="About">About</a></li>
          <li><a href="Contact Us">Contact Us</a></li>
          <li><a href="Sign up">Sign up</a></li>
        </div>
  
        <div class="hero_section">
          <h1>Contact</h1>
</body>
</html>